body {
  background-color: #000000;
}

.clucks {
  display: flex;
  flex-direction: column;
  width: 58vw;
}

.clucksList {
  width: 58vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  color: #ffffff;
  font-size: 24px;
  text-align: left;
  margin-top: -20px;
  margin-bottom: -5px;
}
