.body {
  font-family: "Arial", sans-serif;
  background-color: #fcfcfc;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  padding: 40px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-top: -10px;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  color: #000000;
  background-color: #ddd;
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.change-button {
  background-color: #30c3fd !important;
  color: white;
  width: 200px;
  margin-top: 35px;
  border-radius: 20px;
}

  