.cluckBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000000;
  background-color: #fff;
  border: 1px solid #e1e8ed;
  padding: 10px;
  margin-bottom: 5px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.cluck-header {
  display: flex;
  align-items: flex-start;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.name-username {
  display: flex;
  gap: 10px;
}

.name {
  margin: 0;
  font-weight: bold;
}

.username {
  color: #657786;
  margin: 0;
}

.cluck-content {
  flex-grow: 1;
  overflow-wrap: break-word;
  word-break: break-word;
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 65px;
}

.cluck-content p {
  margin: 0;
}

.cluck-info {
  font-size: 0.8em;
  color: #657786;
}

.cluck-timestamp {
  font-size: 0.7em;
  color: #657786;
  text-align: left;
  padding-top: 5px;
}

.cluck-recluck {
  font-size: 1em;
  color: #657786;
  text-align: left;
}

.cluck-info p {
  margin: 0;
}

.edit-button {
  align-self: flex-end;
  padding: 6px 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #30c3fd;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.cancel-button {
  align-self: flex-end;
  padding: 6px 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #30c3fd;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.delete-button {
  align-self: flex-end;
  padding: 6px 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #30c3fd;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.recluck-button {
  align-self: flex-end;
  padding: 6px 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #30c3fd;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.buttons {
  display: flex;
  align-self: flex-end;
  gap: 10px;
}

.edit-textarea {
  flex-grow: 1;
  width: 95%;
  height: 60px;
  border: none;
  resize: none;
  outline: none;
  background-color: #c0c0c0;
  color:rgb(46, 46, 46);
  font-size: 14px;
  box-sizing: border-box;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cluck-textarea::-webkit-scrollbar {
  display: none;
}

.like-button {
  background-color: transparent;
  border: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
  transition: all 0.3s;
  position: relative;
}

.like-button:hover {
  transform: scale(1.2);
}
.like-button:focus {
  border: none;
  outline: none;
}
