.search-bar {
  font-family: "Arial", sans-serif;
  color: #000000;
  padding: 0;
  margin-top: -60px;
  height: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  width: 20%;
  right: 0px;
}

.input {
  background-color: #c0c0c0;
  color:rgb(46, 46, 46);
  padding: 12px;
  border-radius: 0px;
  margin-top: 0px;
}

.clucks-title {
  margin-top: -8px;
  margin-bottom: 10px;
}

.users-title {
  margin-top: -7px;
}

.user {
  margin-top: -10px;
  color: #000;
  font-size: small;
}
