.search-bar {
    font-family: 'Arial', sans-serif;
    color: #000;
    padding: 10px;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: -60px;
    margin-right: -20px;
  }
  
  .user {
    color: #000;
    font-size: small;
  }
  
  .search-field {
    background-color: white;
    color: black;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 10px;
    margin-top: 2px;
  }
